.portfolio{
	padding: 100px 0;
	background: color(section-bg-color);

	.section-header{
		margin-bottom: 100px;

		.section-title{
			font-size: 2.5rem;
			line-height: 1.15rem;
			font-weight: 600;
			font-family: font(primary);
			color: color(font-color);
			text-transform: uppercase;
			text-align: center;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				top: 300%;
				left: 50%;
				@include translate(-50%, 0);
				width: 70px;
				height: 4px;
				background: color(primary);
			}

		}//title

	}//section-header

	.list-title{
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 1.2rem;
		line-height: 1.4rem;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		@include media(xs){
			font-size: 0.88rem;
			line-height: 1rem;
			flex-wrap: wrap;
		}

		button{
			margin-right: 26px;
			color: color(white-color);
			display: block;
			padding: 10px 14px;
			background: color(primary);
			border: 1px solid color(primary);
			@include transition(ease 0.3s);
			@include media(xs){
				padding: 2px 10px;
				margin: 0 18px 18px 0;
			}

			&:hover,
			&:focus{
				color: color(primary);
				background: color(white-color);
				text-decoration: none;
			}

			&:last-child{
				margin-right: 0;
			}

		}//button

	}//list-style

	.row{
		margin: 60px -10px 0 -10px;
		display: flex;
		flex-wrap: wrap;

		.col{
			padding: 10px;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
			width: 33.3333%;
			@include media(sm){
				width: 50%;
			}
			@include media(xs){
				width: 100%;
			}

			.bg-img {
				height: 450px;
				@include transition(ease-in-out 4s);
				cursor: pointer;

				img{
					vertical-align: top;
				}

				&:hover,
				&:focus{
					background-position: bottom;
				}

			}//bg-img

			.b-1{
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/img3.jpg);
				background-size: cover;
				background-position: top;
			}

			.b-2{
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/img4.jpg);
				background-size: cover;
				background-position: top;
			}

			.b-3{
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/img5.png);
				background-size: cover;
				background-position: top;
			}

			.b-4{
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/img3.jpg);
				background-size: cover;
				background-position: top;
			}


			.holder{
				font-size: 0.88rem;
				line-height: 1.1rem;
				font-family: font(primary);
				font-weight: 500;
				text-transform: uppercase;
				padding: 10px 6px;
				letter-spacing: 1px;
				text-align: center;

				a{
					color: color(white-color);
					display: inline-block;
					padding: 10px 17px;
					background: color(primary);
					border: 1px solid color(primary);
					@include border-radius(10px);
					@include transition(ease 0.3s);

					&:hover,
					&:focus{
						color: color(primary);
						background: color(white-color);
						text-decoration: none;
					}

				}//a

				.readmore-btn{
					@include transition(0.6s);
				}

			}//holder

		}//col

	}//row

	.full-info{
		position: fixed;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
		background: color(section-bg-color);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
		display: none;
		z-index: 2;
		@include transition(0.6s);

		img{
			vertical-align: top;
		}

		.content{
			padding: 14px 40px 40px;
			text-align: center;

			.tags{
				margin-bottom: 20px;

				span{
					font-size: 0.8rem;
				    line-height: 0.88rem;
				    font-family: " 'Raleway', sans-serif ";
				    font-weight: 500;
				    text-transform: uppercase;
				    color: #fff;
				    display: inline-block;
				    padding: 7px 18px;
				    background: #0e68cf;
				    margin-right: 12px;
				}

			}//tags

			.text-holder{
				font-size: 0.8rem;
				line-height: 1.4rem;

				p{
					margin: 0;
				}
			}//text-holder

		}//content

	}//full

}//Portfolio
