/*==========================
 Common style
===========================*/
.site{
	background: color(white-color);
}

.custom-background .site{
	margin: 0 20px;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.container:after{
	content: '';
	display: block;
	clear: both;
}

.row{
	margin: 0 -15px;
}

.row:after{
	content: '';
	display: block;
	clear: both;
}

.clearfix{
	content: '';
	display: block;
	clear: both;
}


@include media(md){					//container width at max-width: 1200px
	.container{
		max-width: 970px;
	}
}

@include media(sm){					//container width at max-width: 1024px
	.container{
		max-width: 750px;			
	}
}

@include media(xs){					//container width at max-width: 767px
	.container{
		max-width: 384px;
	}
}

@include media(mb){					//container width at max-width: 450px
	.container{
		max-width: 100%;
	}
}

.bg-wrapper{
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/img1.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

@include media(xs){
	.open-menu{
		overflow-y: hidden;
	}
}

.open-menu .overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.open-menus .overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
