/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: color(white-color);
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
	color: color(primary);
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation{
	position: fixed;
	left: 50%;
	width: 100vw;
	@include translate(-50%, 0);
	padding: 2rem 0;
	text-align: center;
	background: rgba(93, 93, 93, 0.24);

	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;
		font-size: 1.5rem;
		line-height: 1.208rem;
		letter-spacing: 1px;

		li{
			margin-right: 50px;

			a:hover,
			&:focus{
				color: color(primary);
				text-decoration: none;
			}

			.current{
				color: color(primary);
			}

			.contact{
				padding: 10px 14px;
				border: 1px solid color(primary);
				color: color(primary);

				&:hover,
				&:focus{
					color: color(white-color);
					border-color: color(white-color);
					text-decoration: none;
				}

			}//contact

			&:last-child{
				margin: 0;
			}

		}//li

	}//ul

}//main-nav

/* =========================================
 Media Query
 ========================================== */

@include media(sm){
	
	.site-header{
	 	
	 	.main-navigation{
			position: fixed;
			top: -380px;
			left: 0;
			@include translate(0, 0);
			height: 350px;
			z-index: 999;
			background: color(font-color);
			padding: 0;
			@include transition(0.3s);

			ul{
				flex-direction: column;
				font-size: 18px;
				line-height: 24px;
				padding-top: 50px;
				text-align: center;

				li{
					margin: 0 0 30px;
				}

			}//ul

		}//nav

		#toggle-btn{
			position: fixed;
			top: 0;
			right: 0;
			margin: 30px 30px 0;
			background: color(primary);
			display: block;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			cursor: pointer;
			box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.4);
			z-index: 9999;
			@include transition (ease 0.4s);

			span{
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				@include translate(-50%, -50%);
				width: 58%;
				height: 3px;
				background: color(white-color);
			}
			
			&:after,
			&:before{
				content: '';
				position: absolute;
				left: 13px;
				width: 58%;
				height: 3px;
				background: color(white-color);
			}

			&:before{
				top: 39px;
			}

			&:after{
				top: 19px;
			}

		}//toggle-btn

		.active{
		 	@include transform(rotate(#{180}deg));
			@include transition (ease 0.4s);

			span{
			 	background: none !important;
			}

			&:after{
			 	@include transform (rotate(#{45}deg) (translate(6px, 7px)));
			}

			&:before{
				@include transform (rotate(#{-45}deg) (translate(7px, -7px)));
			}

		}//active

	}//site-header

 }//media

.open-menus{
	
	.main-navigation{
		display: block;
		top: 0;

	}//main-nav

}//open-menu